
<div class="center-align" id="login">
  <h1>{{'ingresa' | translate}}</h1>
  <ul>
    <li><a class="waves-effect waves-light blue darken-1 btn" href="auth/twitter"><i class="fa fa-twitter" aria-hidden="true" style="margin-right:10px"></i>{{'ingresa' | translate}} con Twitter</a></li>
    <li><a class="waves-effect waves-light indigo darken-2 btn" href="auth/facebook"><i class="fa fa-facebook" aria-hidden="true" style="margin-right:10px"></i>{{'ingresa' | translate}} con Facebook</a></li>
  </ul>
</div>