
<div id="register">
  <h1 class="center-align">{{'registrate' | translate}}</h1>
  <div class="container">
    <div class="row">
      <form id="form-registro">
        <div class="input-field col s6">
          <input class="validate" id="nombre" type="text"/>
          <label for="nombre">{{'nombre' | translate}}</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" id="apellido" type="text"/>
          <label for="apellido">{{'apellido' | translate}}</label>
        </div>
        <div class="input-field col s12">
          <input class="validate" id="email" type="text"/>
          <label for="email">{{'email' | translate}}</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" id="contrasenia" type="text"/>
          <label for="contrasenia">{{'contrasenia' | translate}}</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" id="contrasenia_confirmar" type="text"/>
          <label for="contrasenia_confirmar">{{'contrasenia_confirmar' | translate}}</label>
        </div>
      </form>
    </div>
  </div>
</div>