div(id="home")
	h1 {{'bienvenida' | translate}}
	a(class="waves-effect waves-light btn")
		i(class="fa fa-instagram" aria-hidden="true" style="margin-right:10px")
		| {{'boton' | translate}}

footer-angular