div(id="login" class="center-align")
	h1 {{'ingresa' | translate}}

	ul
		li
			a(href='auth/twitter' class="waves-effect waves-light blue darken-1 btn")
				i(class="fa fa-twitter" aria-hidden="true" style="margin-right:10px")
				| {{'ingresa' | translate}} con Twitter
		li
			a(href='auth/facebook' class="waves-effect waves-light indigo darken-2 btn")
				i(class="fa fa-facebook" aria-hidden="true" style="margin-right:10px")
				| {{'ingresa' | translate}} con Facebook