@import url('https://fonts.googleapis.com/css?family=Oleo+Script')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

h1,h2,h3,h4,h5,h6, #logo-container
	font-family 'Oleo Script'
	
.user 
	color #ccc
	padding-left 10px
	
nav 
	.btn 
		margin 0 0 0 1em
		
	.nav-wrapper i 
		line-height inherit
	
#parrafos
	margin-top 1em
p 
	text-align justify
	
.btn 
	margin-bottom 1em
	
.avatar
	border-radius 100%
	display inline-block
	height 48px
	margin 0 1em 0 0
	overflow hidden
	padding 0
	vertical-align middle
	
footer 
	border-bottom 1px solid #ccc
	border-top 1px solid #ccc
	overflow auto
	padding 1em 0
	
	.row, .btn
		margin-bottom 0
	
@import 'mediaqueries'